.topnav {
    background-color: rgba(63, 63, 63, 0.7);
    position:fixed;
    padding-left:2%;
    width:100%;
  }
  
  .topnav a {
    display: inline-block;
    color: #f2f2f2;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 25px;
    margin-left:25px;
    margin-right:25px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: maroon;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .rfvlogo {
      height:200px;
      width:300px;
      position:absolute;
      right:50px;
  }

  /* banner styling */
  html, body, #container, .carousel {
    height:100%;
    margin:0;
    width: 100%;
  }

  .image-slide {
    height: 100%;
    width: 100%;
    transition: background-image .3s ease-in-out;
  }

  .slide-arrow.right {
    right: 1rem;
  }

  .slide-arrow.left {
    left: 1rem;
  }
